.call-to-action---contact-info-section {
    .cta-container {
        .cta-row {
            .cta-title-wrapper {
                @include media-breakpoint-down(lg) {
                    padding-bottom: 30px;  
                }
            }
            .contact-cta-col {
                .contact-item {
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 30px; 
                        &:last-child {
                            padding-bottom: 0; 
                        } 
                    }
                    .icon {
                        padding-bottom: 20px; 
                    }
                    .title {
                        p {
                            margin-bottom: 0; 
                        }
                    }
                    .content {
                        padding-top: 15px; 
                         @include media-breakpoint-down(lg) {
                            padding-bottom: 5px;  
                        }
                        p {
                            margin-bottom: 0; 
                        }
                        a {
                            color: inherit; 
                        }
                    }
                }
            }
        }
    }
}