.form-block---two-column-section  {
    position: relative;
    background-position: center;
    .overlay {
        background-color: white;
        z-index: 1;
        opacity: 0.7;
    }
    .form-block-container  {
        position: relative; 
        z-index: 2;
        .form-block-text-column  {
            padding-bottom: 40px; 
            &.has-image-bg {
                .form-content-wrapper-inner {
                    background-color: white;
                    border-radius: 15px;
                    padding: 60px 50px; 
                }
            }
        }

    }
    
}