

.homepage-hero-section, .interior-hero-section {
    height: $homepage-hero-height;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $homepage-hero-color; 
    &:has(.half-sized) {
        height: 50vh;
        .overlay.image-overlay {
            opacity: 0.3;
        }
        .homepage-hero-container {
            z-index: 2;
            position: relative;
            .homepage-hero-row {
                .homepage-hero-col {
                    .homepage-hero-content-wrapper.interior-hero {
                        padding: 0; 
                        .image-overlay {
                            display: none; 
                        }
                        .title-area-container {
                           .title-area-content-wrapper {
                                padding-bottom: 0 
                           } 
                            .title-wrapper {
                                padding-bottom: 0; 
                            }
                        }
                    }
                }
            }
        }
    }
    &.block-section {
        padding-top: 0; 
        padding-bottom: 0; 
    }
    .image-overlay {
        background-color: $image-overlay-bg;
        opacity: $image-overlay-opacity; 
        z-index: 1; 
        border-radius: 15px;
    }
    .homepage-hero-container {
        z-index: 2;
        position: relative;
        .homepage-hero-row {
            .homepage-hero-col {
                .homepage-hero-content-wrapper {
                    padding-top: 30px; 
                    padding-left: 60px; 
                    padding-bottom: 60px; 
                    padding-right: 60px; 
                    &.interior-hero {
                        padding-top: 60px; 
                        padding-left: 60px; 
                        padding-bottom: 60px; 
                        padding-right: 60px; 
                        .title-area-container {
                            .title-wrapper {
                                padding-bottom: 60px; 
                            }
                        }
                        @include media-breakpoint-down(sm) {
                            padding-top: 30px; 
                            padding-left: 30px; 
                            padding-bottom: 30px; 
                            padding-right: 30px; 
                            .title-area-container {
                                .title-wrapper {
                                    padding-bottom: 30px; 
                                }
                            }
                        }

                    }
                    @include media-breakpoint-down(sm) {
                        padding-top: 30px; 
                        padding-left: 30px; 
                        padding-bottom: 30px; 
                        padding-right: 30px; 
                    }
                    .title-area-container {
                        z-index: 2;
                        position: relative; 
                    }
                    .title-area-content-wrapper {
                        padding-bottom: 30px; 
                
                         .title-wrapper {
                            .h1 {
                                font-size: $hero-title-size; 
                                @include media-breakpoint-down(sm) {
                                    font-size: 40px; 
                                }

                            }
                            
                        }

                    }
                    .button-area-wrapper {
                        text-align: center;
                        z-index: 2;
                        position: relative; 
                    }
                }
            }
        }
    }
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* adjust to taste */
  z-index: 1;
}

.homepage-hero-content-wrapper {
  position: relative;
  z-index: 2;
}