.two-column-image-and-text-section {
    &.service-block {
        padding-top: 70px; 
        padding-bottom: 70px; 
        .text-col {
            line-height: 1; 
            .title-wrapper {
                padding-bottom: 20px;
            }

        }
        .image-col {
            img {
                max-height: 300px;
            }
        }
        .full-bleed-container {
            .full-bleed-row {
                .text-col {
                    margin-left: 5%; 
                    width: 50%; 
                    margin-right: 5%; 
                    @media (max-width: 1200px) {
                        margin-left: 5%; 
                        width: 45%; 
                    }
                    @media (max-width: 992px) {
                        width: 45%; 
                    }

                    @media (max-width: 768px) {
                        width: auto; 
                    } 
                }
            }
        }
    }
    .full-bleed-container {
        .full-bleed-row {
            justify-content: end;
            .image-col {
                width: 50%; 
                @media (max-width: 992px) {
                    width: 45%; 
                    padding-bottom: 35px; 
                }
                @media (max-width: 768px) {
                    width: auto; 
                    margin-left: 5%; 
                    margin-right: 5%; 
                }
                &.order-first {
                    img { 
                        border-radius: 0 15px 15px 0;
                    }
                }
                 &.order-last {
                    img { 
                        border-radius: 15px 0 0 15px;
                    }
                }
            }
            .text-col {
                margin-left: 10%; 
                width: 35%; 
                margin-right: 5%; 
                @media (max-width: 1200px) {
                    margin-left: 5%; 
                    width: 45%; 
                }
                @media (max-width: 992px) {
                    width: 45%; 
                }

                @media (max-width: 768px) {
                    width: auto; 
                }
            }

        }
      
    }
}