.service-slider-cards-block-section {
    padding-bottom: 0; 
    position: relative;
    .section-title-wrapper {
        @extend .background-secondary;
        padding-top: 40px; 
        padding-bottom: 40px; 
        .title-area-container .title-area-row .title-area-col .title-area-content-wrapper {
            padding-bottom: 0; 
        }
        .title-area-content-wrapper {
            
        } 
    }
    .service-col  {
        padding-top: 25px; 
        aspect-ratio: 8/10;
        &.first {
            background-color: lightgray; 

            &.glide__slide--active {
                background-color: #EDEDED; 
            }
        }
        
        &.last {
             &.glide__slide--active {
                background-color: lightgray; 
                + div {
                    background-color: #EDEDED; 
                }
            }
        }

        .service-member-card {
            .service-image-wrapper {
                padding-bottom: 15px; 
                img {
                    width: 80%; 
                }
            }
            .service-meta-wrapper {
                width: 65%;
                @media (max-width:1200px) {
                    width: 95%;
                }

              
                .service-text-wrapper {
                    .service-title {
                        color: $color-secondary; 
                        margin-bottom: 0; 
                        padding-bottom: 35px; 
                        width: 70%; 
                        margin: auto; 
                        @include media-breakpoint-down(lg) {
                            font-size: 30px; 
                        }
                    }
                }
            }
        }
    }


    .glide__arrows {
        position: absolute; 
        display: flex;
        bottom: 0;
        right: 0;
        .glide__arrow {
            display: flex;
            border: 0; 
            position: relative;
            box-shadow: none;
            text-shadow: none;
        }
        .glide__arrow--left {
            left: auto; 
        }
    }
   



}