.staff-block-section {
    &.background-primary {
        .staff-member-card {
            .staff-text-wrapper {
                a:hover {
                    color: inherit; 
                }
            }
        }
    }
    .staff-container {
        .staff-row {
            .staff-col {
                &:last-child {
                    .staff-member-card {
                        @include media-breakpoint-down(sm) {
                            padding-bottom: 0; 
                        }
                    }

                }
                .staff-member-card {
                    @include media-breakpoint-down(sm) {
                        padding-bottom: 30px; 
                    }
                    .staff-image-wrapper {
                        padding-bottom: 25px; 
                    }
                    .staff-meta-wrapper {
                      
                        .staff-text-wrapper {
                            @include media-breakpoint-down(xl) {
                                padding-bottom: 15px; 
                            }
                            .staff-name-title {
                                margin-bottom: 0; 
                                padding-bottom: 15px; 
                            }
                            p {
                                margin-bottom: 0; 
                            }
                        }
                    }
                }
            }
        }
    }
}