.stats-section {
    padding-top: 100px; 
    padding-bottom: 100px;     
    
    .stats-container {
        .stats-row {
            .stats-col {
              @include media-breakpoint-down(lg) {
                border-bottom: solid 1px lightgray; 
                margin-bottom: 60px; 
                &:last-child {
                    margin-bottom: 0; 
                    border-bottom: 0; 
                    .single-stat-wrapper {
                        margin-bottom: 0px; 
                    }
                }
              }

                .single-stat-wrapper {
                  @include media-breakpoint-down(lg) {
                      margin-bottom: 60px; 
                  }
                    .top-line {
                            font-size: 24px;
                            font-weight: 600;
                    }
                    .stat-content-wrapper {
                            font-size: 24px;
                            font-weight: 600;
                    }
                    .stat-title-wrapper {
                        color: $color-secondary; 
                        padding-top: 30px; 
                        padding-bottom: 30px; 
                        @include media-breakpoint-down(lg) {
                            padding-bottom: 0;
                            padding-top: 0;  
                        }
                       
                        .stat-title {
                            font-size: 55px;
                        }
                       
                    }
                }
            }
        }
    }
}

@property --from {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.counter {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
  content: counter(int);
}

.counter.finished::after {
  content: "";
}

@keyframes counter {
  to {
    --from: var(--to, 100);
  }
}