.stats-section {
    padding-top: 100px; 
    padding-bottom: 100px; 
    .stats-container {
        .stats-row {
            .stats-col {
                .single-stat-wrapper {
                    .stat-title-wrapper {
                        color: $color-secondary; 
                        padding-top: 30px; 
                        padding-bottom: 30px; 
                        .stat-title {
                            font-size: 55px;
                        }
                    }
                }
            }
        }
    }
}

@property --from {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.counter {
  transition: --from 1s;
  counter-reset: int var(--from);
  animation: counter var(--time, 1000) forwards ease-in-out;
}

.counter::after {
  content: counter(int);
}

.counter.finished::after {
  content: "";
}

@keyframes counter {
  to {
    --from: var(--to, 100);
  }
}