.wildcards-section {
    padding-top: 90px; 
    padding-bottom: 90px; 
    .wildcards-container {
        .wildcards-row {
            &.row-cols-lg-4 {
                .wildcards-col {
                     &:nth-last-child(-n + 4) {
                        padding-bottom: 0; 
                    }
                }
            }
            &.row-cols-lg-3 {
                .wildcards-col {
                     &:nth-last-child(-n + 3) {
                        padding-bottom: 0; 
                    }
                }
            }
            .wildcards-col {
                
                padding-bottom: 100px; 
               
               
                @include media-breakpoint-down(sm) {
                    padding-bottom: 40px; 
                }
                .single-wildcard-wrapper {
                    // @include media-breakpoint-down(lg) {
                    //     padding-bottom: 40px; 
                    // }
                     
                    .wildcard-image-wrapper {
                        // margin: auto;
                        padding-bottom: $wildcard-element-spacing; 
                        i {
                            font-size: 65px; 
                        }
                        &:has(img) {
                            max-width: 50px;
                        }
                        img {
                            width: 100%; 
                            height: auto; 
                        }
                    }
                    .wildcard-title-wrapper {
                        padding-bottom: 30px; 
                        @include media-breakpoint-down(sm) {
                            padding-bottom: 0; 
                        }
                    }
                    .wildcard-content-wrapper {
                        padding-bottom: 30px; 
                    }
                    .button-area-wrapper {
                        a.pw-solid-button {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}