.wildcards-section {
    padding-top: 90px; 
    padding-bottom: 90px; 
    &.service-block {
        padding-top: 50px; 
        padding-bottom: 50px;
        .wildcards-container {
            .wildcards-row {
                .wildcards-col {
                    .single-wildcard-wrapper  {
                        .wildcard-content-wrapper {
                            padding-bottom: 60px; 
                        }
                    }
                }
            }
        }
    }
    .wildcards-container {
        .wildcards-row {
            &.row-cols-lg-4 {
                .wildcards-col {
                     &:nth-last-child(-n + 4) {
                        margin-bottom: 0; 
                    }
                }
            }
            &.row-cols-lg-3 {
                .wildcards-col {
                     &:nth-last-child(-n + 3) {
                        margin-bottom: 0; 
                    }
                }
            }
            .wildcards-col {
                
                margin-bottom: 100px; 
               
               
                @include media-breakpoint-down(sm) {
                    padding-bottom: 40px; 
                }
                .single-wildcard-wrapper {
                    // @include media-breakpoint-down(lg) {
                    //     padding-bottom: 40px; 
                    // }
                    transition: all 0.4s ease-in-out;
                    &.has-link:hover {
                        cursor: pointer;
                        .wildcard-image-wrapper {
                            img {
                                transition: all 0.4s ease-in-out;
                                transform: scale(1.2);
                            }

                        }
                    }
                     
                    .wildcard-image-wrapper {
                        // margin: auto;
                        padding-bottom: $wildcard-element-spacing; 
                        i {
                            font-size: 65px; 
                        }
                        &:has(img) {
                            max-width: 50px;
                        }
                        img {
                            transition: all 0.2s ease-in-out;
                            width: 100%; 
                            height: auto; 
                        }
                    }
                    .wildcard-title-wrapper {
                        padding-bottom: 30px; 
                        color: white; 
                        @include media-breakpoint-down(sm) {
                            padding-bottom: 0; 
                        }
                    }
                    .wildcard-content-wrapper {
                        padding-bottom: 30px; 
                        p {
                            color: white; 
                        }
                    }
                    .button-area-wrapper {
                        a.pw-solid-button {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}