

body {
  background-color: $body-background; 
  font-family: $font-primary;
  font-size: $base-font-size; 
  line-height: $line-height-base;
  color: $base-text-color; 
}


.block-section {
    padding-top: $section-padding; 
    padding-bottom: $section-padding; 
    @include media-breakpoint-down(sm) {
        padding-top: $mobile-section-padding; 
        padding-bottom: $mobile-section-padding; 

    }
}

html :where(.wp-block) {
    max-width: none;
}

img {
    border-radius: 15px;
}

.gform_wrapper.gravity-theme .gfield_required {
    color: #360584!important; 
}

.gform_wrapper.gravity-theme .ginput_counter.gfield_description {
    color: black!important;
}