

.single-staff-hero-area {
    height: 50vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    @media (min-width: 1200px) {
         height: 75vh; 
    }
     @media (min-width: 1440px) {
         height: 100vh; 
    }
    .staff-hero-content-wrapper {
        padding-left: 40px; 
        padding-bottom: 60px; 
        padding-right: 40px; 
        padding-top: 60px; 
        border-radius: 15px;
        @include media-breakpoint-down(sm) {
            padding-left: 30px; 
            padding-bottom: 30px; 
            padding-right: 30px; 
            padding-top: 30px; 

        }
        .contact-wrapper {
            padding-top: 50px; 

            .contact-info-wrapper {
                @include media-breakpoint-down(sm) { 
                    padding-bottom: 5px; 
                }
                .phone {
                    padding-bottom: 5px; 
                }
                a {
                    &:hover {
                        color: inherit; 
                        text-decoration: underline;
                    }
                }
            }
            .button-email-wrapper {
                @include media-breakpoint-down(xl) { 
                    padding-top: 15px; 
                }
                a {
                    width: 100%; 
                }
            }
        }
    }
}

.single-staff-content-container {
    padding-top: 100px; 
    padding-bottom: 50px; 
    .single-staff-content-row {
        .single-staff-title-col {
            padding-bottom: 45px; 
        }
        .single-staff-bio-col {

        }
        .single-staff-accordion-col {
            .single-staff-accordion-wrapper {
                .single-accordion {
                    border-bottom: 2px solid #FFF;
                    margin-bottom: 0; 
                    &:last-child {
                        border-bottom: 2px solid $color-secondary;
                    }
                }
            }
        }
        
    }
}

.staff-posts-content-section {
    padding-top: 90px; 
    padding-bottom: 90px; 
    .single-staff-posts-content-row {
        .single-post-tile-col {

        }
    }
}

.cta-staff-contact-section  {
    &.service-block {
        padding-top: 70px; 
        padding-bottom: 70px; 

    }
    .cta-staff-contact-col {
        .title-wrapper {
            padding-bottom: 30px; 
        }
        .content-wrapper {
            padding-bottom: 30px; 
        }
    }
}

.single-service-footer-container {
    padding-bottom: 50px; 
}

.single-service-nav-container {
    padding-top: 50px; 
}